<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.misterfourtytwo.picfeed">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <activity android:name="com.misterfourtytwo.picfeed.MainActivity">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.misterfourtytwo.picfeed" />
            </intent-filter>
        </activity>
    </application>
</manifest>
